body {
  font-family: "Amatic SC", cursive;
}

p {
  font-size: 50px;
  text-align: center;
  margin: 0%;
}

h1 {
  font-size: 45px;
}

.container {
  margin-left: 2%;
  margin-right: 2%;
  background-color: f1d6ab;
}

.menubar {
  background-color: yellow;
}

.display-timer {
  display: flex;
  font-family: "Quantico", sans-serif;
  font-size: 300%;
  margin-top: 10%;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
}

#image-soft {
  width: 55%;
  margin-left: 20%;
  margin-top: 10%;
}

#image-medium {
  width: 70%;
  margin-left: 17%;
  margin-top: 25%;
}

#image-hard {
  width: 55%;
  margin-left: 22%;
  margin-top: 15%;
}

.square {
  width: 20%;
  background-color: white;
  margin: 1%;
  border-radius: 15%;
}

#medium-square {
  background-color: #706d67;
}

.button-choice {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 12%;
  background-color: fcf8f3;
  margin: 1%;
  padding: 0.7%;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  border-radius: 10%;
}

.button-reset {
  width: 6%;
  background-color: fcf8f3;
  margin: 0.5%;
  padding: 0.3%;
  font-family: "Amatic SC", cursive;
  font-size: 140%;
  border-radius: 10%;
}

.custom-timer {
  display: inline-flex;
  margin-left: 30%;
  padding-bottom: 8%;
}

input {
  font-size: 500%;
}

.custom {
  font-family: "Quantico", sans-serif;
  width: 130px;
}

#dot {
  font-family: "Quantico", sans-serif;
  font-size: 500%;
}
.start-reset {
  width: 6%;
  margin: 0.5%;
  padding: 0.3%;
  font-family: "Dancing Script", cursive;
  font-size: 140%;
  border-radius: 10%;
  background-color: fcf8f3;
}

button {
  padding: 1% 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {
  background-color: yellow;
}

button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  background-color: yellow;
}
